[submodule "pack/jvf/start/vim-elixir"]
	path = pack/jvf/start/vim-elixir
	url = git@github.com:elixir-editors/vim-elixir.git
[submodule "pack/jvf/start/Smyck-Color-Scheme"]
	path = pack/jvf/start/Smyck-Color-Scheme
	url = git@github.com:jvf/Smyck-Color-Scheme.git
[submodule "pack/jvf/start/vim-mix-format"]
	path = pack/jvf/start/vim-mix-format
	url = git@github.com:mhinz/vim-mix-format.git
[submodule "pack/jvf/start/surround"]
	path = pack/jvf/start/surround
	url = https://tpope.io/vim/surround.git
